@charset "UTF-8";

/* twitter風チャット画面(会話方式)を記事に表示する方法 */

/* スマホ */
@media only screen and (max-device-width:640px) {
  html {
    font-size: 5vw;
  }

  .twitter__container {
    padding: 0;
    background: #ffffff;
    overflow: hidden;
    /*max-width: 400px;*/
    margin: 20px auto;
    /*font-size: 80%;*/
    border: solid 1px #eeeeee;
  }

  .twitter__container a {
    color: #58aeed;
  }
  
  /* ログイン画面 */
  .twitter__container .login_page {
    font-size: calc(10px + 0.25vh);
  }

  /* タイトル部分 */
  .twitter__container .twitter__title {
    /*background: #58aeed;*/
    background: #FFD700;
    border-left: solid 1px #FFD700;
    padding: 10px;
    text-align: center;
    /*font-size: 90%;*/
    color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 5;
    /*max-width: 380px;*/
    width: 96%;
    height: 5vh;
    float: left;
  }
  
  .twitter__title img {
    padding-top: 1vh;
    width: 5vw;
    height: 5vw;
  }

  .twitter__container .twitter__title .twitter-logo {
    margin: 0 auto;
    width: 20px;
    height: 20px;
    display: block;
    /*background: url("svg/twitter-logo.svg") center no-repeat;*/
  }

  .twitter__container .twitter__title span {
    /*font-size: 20px;*/
  }

  /* メニュー */
  .twitter__container .twitter__menu {
    background: #FFD700;
    padding-top: 6vh;
    text-align: center;
    font-size: 70%;
    color: #ffffff;
    position: fixed;
    z-index: 4;
    /*max-width: 380px;*/
    width: 100%;
    height: 7vh;
  }

  /* 投稿ボタン */
  .twitter__container .twitter__post{
    padding: 0px;
    text-align: right;
    /*font-size: 90%;*/
    color: #ffffff;
    position: fixed;
    z-index: 10;
    /*max-width: 380px;*/
    max-width: 95%;
    width: 100%;
    float: left;
    bottom: 10vh; /* 投稿ボタンのサイズ+下からどれだけ離すか */
  }
  
  .twitter__container .twitter__post img {
    width: 10vh;
    hight: 10vh;
  }

  /* タイムライン部分 */
  .twitter__container .twitter__contents {
    overflow: hidden;
    position: relative;
    line-height: 135%;
    
  }

  .twitter__container .twitter__contents.scroll {
    height: 500px;
    overflow-y: scroll;
  }

  .twitter__container .twitter__block {
    width: 100%;
    display: block;
    /*padding: 20px;*/
    padding-top: 3vh;
    padding-bottom: 2vh;
    padding-right: 3vw;
    /*margin-bottom: 5px;*/
    border-bottom: solid 1px #eeeeee;
    overflow: hidden;
    position: relative;
  }

  .twitter__container .twitter__block:last-child {
    border-bottom: solid 0px;
  }
  /* アイコン画像 */
  .twitter__container .twitter__block figure {
    width: 8vh;
    height: 100%;
    /*min-height: 15vh;*/
    padding-left: 2vh;
    margin: 0;
    float: left;
    position: absolute;
  }
    /* 正方形を用意 */
  .twitter__container .twitter__block figure img {
    border-radius: 50%;
    width: 7vh;
    height: 7vh;
  }
  /* コメントエリア */
  .twitter__container .twitter__block-text {
    margin: 0;
    position: relative;
    margin-left: 60px;
    font-size: calc(20px + 0.25vh);
  }

  .twitter__container .twitter__block-text .name {
    font-weight: bold;
    font-size: calc(30px + 0.25vh);
    margin: -1vw 0 2vh 7vh;
    max-height: 35px;
  }

  .twitter__container .twitter__block-text .name .name_reply {
    color: #8a9aa4;
    margin-left: 20px;
    font-size: calc(30px + 0.25vh);
  }

  .twitter__container .twitter__block-text .date {
    position: absolute;
    top: 0;
    right: 20px;
    text-align: right;
    color: #8a9aa4;
    font-size: calc(30px + 0.25vh);
  }
  .twitter__container .twitter__block-text .date_str {
    margin: 0;
    color: #8a9aa4;
    font-size: 80%;
    margin-bottom: 1vh;
  }
  /* 本文 */
  .twitter__container .twitter__block-text .text {
    margin: 0;
    font-size: calc(30px + 0.25vh);
    line-height: 1.2em;
    margin-bottom: 1vh;
    margin-left: 7vh;
  }
  /* 画像を貼る場合 */
  .twitter__container .twitter__block-text .text .in-pict img {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    /*margin: 5px 0;*/
    width: 80%;
    /*height: 200px;*/
    max-height: 30vh;
    max-width: 90vw;
    object-fit: cover;
    float: right;
    margin-right: 10vw;
    /*margin-left:10vw;*/
    margin-bottom: 0vh;
  }

  /* 埋め込みアイコン */
  .twitter__container .twitter__icon br{
    display: none;
  }
  
  .twitter__container .twitter__icon span {
    font-size: calc(30px + 0.25vh);
    display: block;
  }
  .twitter__container .twitter__icon .twitter-heart {
    width: 2.5vh;
    height: 2.5vh;
    display: block;
    /*padding-left: 20px;*/
    margin-right: 15vw;
    background: url("https://cdn.glitch.com/e1c0d2f2-58d3-4eae-9efc-d7cc024237e1%2Ffav.svg?v=1581738047956") left no-repeat;
    width: 15%;
    float: right;
    color: #8a9aa4;
  }

  .twitter__container .twitter__icon .twitter-loop {
    width: 2.5vh;
    height: 2.5vh;
    display: block;
    margin-right: 5vh;
    /*padding-left: 20px;*/
    background: url("https://cdn.glitch.com/e1c0d2f2-58d3-4eae-9efc-d7cc024237e1%2Frt.svg?v=1581738050057") left no-repeat;
    width: 15%;
    float: right;
    color: #8a9aa4;
  }

  .twitter__container .twitter__icon .twitter-bubble {
    width: 2.5vh;
    height: 2.5vh;
    display: block;
    /*margin-left: 10px;*/
    /*padding-left: 20px;*/
    margin-right: 5vh;
    background: url("https://cdn.glitch.com/e1c0d2f2-58d3-4eae-9efc-d7cc024237e1%2Freply.svg?v=1581738049647") left no-repeat;
    width: 15%;
    float: right;
    color: #8a9aa4;
  }

  .twitter__container .twitter__icon .twitter-file {
    display: block;
    width: 2.5vh;
    height: 2.5vh;
    /* display: block; */
    /* margin-right: 10vh;*/
    margin-right: -43vh;
    background: url("https://cdn.glitch.com/7b4129b7-87aa-4542-9c2a-57759a4debf2%2Fdelete.svg?v=1591809184367") left no-repeat;
    float: right;
    color: #8a9aa4;
  }

  .twitter__container .twitter__icon .twitter-check {
    display: none;
    /*width: 14px;*/
    width: 3vw;
    height: 3vh;
    /*display: block;*/
    margin-right: 10vw;
    /*padding-right: 20px;*/
    background: url("https://cdn.glitch.com/e1c0d2f2-58d3-4eae-9efc-d7cc024237e1%2Fcheck.svg?v=1581738047611") left no-repeat;
    float: right;
    color: #8a9aa4;
  }

  .submit_form {
      /*
      padding: 0;
      margin: 20px auto;
      border: solid 1px #87cefa;
      */
      margin: 0 auto;
      /*max-width: 400px;*/
      text-align: center;
  }

  .class_input_text {
      margin: 10px auto;
      width: 80%;
  }
  
  /* プロフィール画像 */
  #profile_pic {
    background-color: #fff3b8;
    background-repeat: no-repeat;
    height: 25vh;
  }
  #profile_pic img {
    width: 100%;
    height: 100%;
  }
  
  /* プロフィール部分 */
  #profile_data {
    max-height: 30vh;
  }
  #profile_data figure {
    width: 14vh;
    height: 100%;
    padding: 0;
    margin: 0;
    float: left;
    padding-left: 2vh;
    padding-top: 0vh;
    position: absolute;
  }
  #profile_data figure img {
    border-radius: 50%;
    width: 12vh;
    height: 12vh;
  }
  #profile_text {
    margin: 0;
    position: relative;
    margin-left: 10vh;
    padding-right: 10px;
    font-size: calc(20px + 0.25vh);
  }
  #profile_text #profile_name {
    /*position: absolute;*/
    font-weight: bold;
    font-size: calc(40px + 0.25vh);
    top: 0;
    margin: 0vh 0 1.5vh 6.5vh;
    max-height: 35px;
  }
  #profile_text #profile_name #profile_id {
    color: #8a9aa4;
    margin-left: 20px;
    font-size: calc(36px + 0.25vh);
  }
  #ref_user_profile {
    margin: 0;
    font-size: calc(26px + 0.25vh);
    line-height: 1.2em;
    margin-left: 0vh;
  }
  #follow_num {
    font-size: calc(26px + 0.25vh);
    color: #8a9aa4;
    margin-top: 100px;
    bottom: 0;
  }
  #follower_num {
    font-size: calc(26px + 0.25vh);
    color: #8a9aa4;
    margin-top: 100px;
    padding-left: 30px;
    bottom: 0;
  }
  

  /* モーダルウィンドウ関連 */
  .modal{
      display: none;
      height: 100vh;
      position: fixed;
      top: 0;
      width: 100%;
  }
  .modal__bg{
      background: rgba(0,0,0,0);
      height: 100vh;
      position: absolute;
      width: 100%;
  }
  .modal__content{
      background: #fff;
      text-align: center;
      max-width: 380px;
      left: 50%;
      padding: 20px;
      position: absolute;
      top: 90%;
      transform: translate(-50%,-50%);
      width: 60%;
  }

  /* モーダルウィンドウ(空のモーダル)関連 */
  .modal_empty {
      display: none;
      height: 90vh;
      position: fixed;
      top: 0;
      width: 100%;
  }
  .modal__bg_empty {
      background: rgba(0,0,0,0);
      height: 100vh;
      position: absolute;
      width: 100%;
  }
  .modal__content_empty {
      background: #fff;
      text-align: center;
      /*max-width: 380px;*/
      left: 50%;
      padding: 20px;
      position: absolute;
      top: 10vh;
      transform: translate(-50%,-50%);
      width: 100%;
      height: calc( 1.3em * 3 );
  }

  /* モーダルウィンドウ(投稿フォーム)関連 */
  .modal_post, .modal_follow, .modal_icon, .modal_header, .modal_profile, .modal_user_name, .modal_pw, .modal_login {
      display: none;
      height: 90vh;
      position: fixed;
      top: 0;
      width: 100%;
      font-size: calc(27px + 0.25vh);
  }
  .modal__bg_post, .modal__bg_follow, .modal__bg_icon, .modal__bg_header, .modal__bg_profile, .modal__bg_user_name, .modal__bg_pw, .modal__bg_login {
      background: rgba(0,0,0,0);
      height: 90vh;
      position: absolute;
      width: 100%;
  }
  .modal__content_post, .modal__content_follow, .modal__content_icon, .modal__content_header, .modal__content_profile, .modal__content_user_name, .modal__content_pw, .modal__content_login {
      background: #ffffd0;
      text-align: center;
      /*max-width: 380px;*/
      left: 50%;
      padding: 20px;
      position: absolute;
      top: 45vh;
      transform: translate(-50%,-50%);
      width: 100%;
      height: calc( 2.0em * 5 );
  }
  .post-modal-close, .post-modal-fileUp, .regist-modal-close, .icon-modal-close, .icon-modal-fileUp, .header-modal-close, .header-modal-fileUp, .pw-modal-close, .follow-modal-close, .user_name_modal-close {
    height: 5vh;
    font-size: 25px;
    /*text-align: center;*/
  }
  .class_input_post_text, .class_input_follow, .class_input_profile, .class_input_user_name, .class_input_pw {
    resize: vertical;
    font-size: 25px;
    height: calc( 1.3em * 7 );
    line-height: 1.3;
  }
  
  /* モーダルウィンドウ(投稿フォーム以外)関連 */
  .modal_follow, .modal_icon, .modal_header, .modal_profile, .modal_user_name, .modal_pw, .modal_logout, .modal_login {
      display: none;
      height: 90vh;
      position: fixed;
      top: 0;
      width: 100%;
      font-size: calc(27px + 0.25vh);    
  }
  .modal__bg_follow, .modal__bg_icon, .modal__bg_header, .modal__bg_profile, .modal__bg_user_name, .modal__bg_pw, .modal__bg_logout, .modal__bg_login {
      background: rgba(0,0,0,0);
      height: 90vh;
      position: absolute;
      width: 100%;
  }
  .modal__content_follow, .modal__content_icon, .modal__content_header, .modal__content_profile, .modal__content_user_name, .modal__content_pw, .modal__content_logout, .modal__content_login {
      background: #ffffd0;
      text-align: center;
      /*max-width: 380px;*/
      left: 50%;
      padding: 20px;
      position: absolute;
      top: 40vh;
      transform: translate(-50%,-50%);
      width: 100%;
      height: calc( 1.7em * 3 );
  }
  .regist-modal-close, .icon-modal-close, .header-modal-close, .profile-modal-close, .icon-modal-fileUp, .pw-modal-close, .logout-modal-close, .follow-modal-close, .user_name_modal-close {
    height: 5vh;
    font-size: 25px;
    /*text-align: center;*/
  }
  .class_input_follow, .class_input_profile, .class_input_user_name, .class_input_pw {
    resize: vertical;
    font-size: 25px;
    height: calc( 1.3em * 2 );
    line-height: 1.3;
  }
    
  /* モーダルウィンドウ(写真の拡大表示用モーダル)関連 */
  .modal_pic {
      display: none;
      /*height: 90vh;*/
      position: fixed;
      top: 50%;
      width: 100%;
      z-index: 10;
  }
  .modal__bg_pic {
      background: rgba(0,0,0,0);
      position: absolute;
      width: 80vw;
      height: 90vh;
  }
  .modal__content_pic {
      background: #ffffff;
      text-align: center;
      /*max-width: 380px;*/
      left: 50%;
      padding: 10px;
      position: absolute;
      /*top: 10vh;*/
      transform: translate(-50%,-50%);
      /*width: 100%;*/
      /*height: calc( 1.3em * 3 );*/
  }
  .modal__content_pic img {
    max-width: 80vw;
    max-height: 90vh;
    margin: auto;
  }
  
  /* モーダルウィンドウ(フォローフォーム)関連 */
  /*
  .modal_follow {
      display: none;
      height: 100vh;
      position: fixed;
      top: 0;
      width: 100%;
  }
  .modal__bg_follow {
      background: rgba(0,0,0,0);
      height: 100vh;
      position: absolute;
      width: 100%;
  }
  .modal__content_follow {
      background: #fff;
      text-align: center;
      max-width: 380px;
      left: 50%;
      padding: 20px;
      position: absolute;
      top: 90%;
      transform: translate(-50%,-50%);
      width: 60%;
  }
  */

  /* モーダルウィンドウ(アイコン投稿フォーム)関連 */
  /*
  .modal_icon {
      display: none;
      height: 100vh;
      position: fixed;
      top: 0;
      width: 100%;
  }
  .modal__bg_icon {
      background: rgba(0,0,0,0);
      height: 100vh;
      position: absolute;
      width: 100%;
  }
  .modal__content_icon {
      background: #fff;
      text-align: center;
      max-width: 380px;
      left: 50%;
      padding: 20px;
      position: absolute;
      top: 90%;
      transform: translate(-50%,-50%);
      width: 60%;
  }
  */

  /* モーダルウィンドウ(ユーザ名変更)関連 */
  /*
  .modal_user_name {
      display: none;
      height: 100vh;
      position: fixed;
      top: 0;
      width: 100%;
  }
  .modal__bg_user_name {
      background: rgba(0,0,0,0);
      height: 100vh;
      position: absolute;
      width: 100%;
  }
  .modal__content_user_name {
      background: #fff;
      text-align: center;
      max-width: 380px;
      left: 50%;
      padding: 20px;
      position: absolute;
      top: 90%;
      transform: translate(-50%,-50%);
      width: 60%;
  }
  */

  /* モーダルウィンドウ(パスワード変更)関連 */
  /*
  .modal_pw {
      display: none;
      height: 100vh;
      position: fixed;
      top: 0;
      width: 100%;
  }
  .modal__bg_pw {
      background: rgba(0,0,0,0);
      height: 100vh;
      position: absolute;
      width: 100%;
  }
  .modal__content_pw {
      background: #fff;
      text-align: center;
      max-width: 380px;
      left: 50%;
      padding: 20px;
      position: absolute;
      top: 90%;
      transform: translate(-50%,-50%);
      width: 60%;
  }
  */

  /* モーダルウィンドウ(login.html)関連 */
  /*
  .modal_login{
      display: none;
      height: 100vh;
      position: fixed;
      top: 0;
      width: 100%;
  }
  .modal__bg_login{
      background: rgba(0,0,0,0);
      height: 100vh;
      position: absolute;
      width: 100%;
  }
  .modal__content_login{
      background: #fff;
      text-align: center;
      max-width: 380px;
      left: 50%;
      padding: 40px;
      position: absolute;
      top: 30%;
      transform: translate(-50%,-50%);
      width: 60%;
  }
  */
}




/* パソコン */
@media screen and (min-device-width:641px) {
  html {
    font-size: 3vw;
  }

  .twitter__container {
    padding: 0;
    background: #ffffff;
    overflow: hidden;
    max-width: 600px;
    margin: 20px auto;
    /*font-size: 80%;*/
    border: solid 1px #eeeeee;
  }

  .twitter__container a {
    color: #58aeed;
  }
  
  /* ログイン画面 */
  .twitter__container .login_page {
    font-size: calc(15px + 0.25vh);
  }

  /* タイトル部分 */
  .twitter__container .twitter__title {
    /*background: #58aeed;*/
    background: #FFD700;
    border-left: solid 1px #FFD700;
    padding: 10px;
    text-align: center;
    font-size: calc(20px + 0.25vh);
    color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 5;
    max-width: 580px;
    width: 97%;
    height: 3vh;
    float: left;
  }
  
  .twitter__title img {
    width: 4vh;
    height: 4vh;
  }

  .twitter__container .twitter__title .twitter-logo {
    margin: 0 auto;
    width: 20px;
    height: 20px;
    display: block;
    /*background: url("svg/twitter-logo.svg") center no-repeat;*/
  }

  .twitter__container .twitter__title span {
    /*font-size: 20px;*/
  }

  /* メニュー */
  .twitter__container .twitter__menu {
    background: #FFD700;
    padding-top: 5vh;
    text-align: center;    
    font-size: calc(15px + 0.25vh);
    color: #ffffff;
    position: fixed;
    z-index: 4;
    max-width: 600px;
    width: 100%;
    height: 9vh;
  }

  /* 投稿ボタン */
  .twitter__container .twitter__post{
    padding: 0px;
    text-align: right;
    /*font-size: 90%;*/    
    color: #ffffff;
    position: fixed;
    z-index: 10;
    max-width: 580px;    
    width: 100%;
    float: left;
    bottom: 10vh; /* 投稿ボタンのサイズ+下からどれだけ離すか */
  }
  
  .twitter__container .twitter__post img {
    width: 10vh;
    height: 10vh;
  }

  /* タイムライン部分 */
  .twitter__container .twitter__contents {
    overflow: hidden;
    position: relative;
    line-height: 135%;
  }

  .twitter__container .twitter__contents.scroll {
    height: 300px;
    overflow-y: scroll;
  }

  .twitter__container .twitter__block {
    width: 100%;
    display: block;
    padding-top: 1vh;
    padding-bottom: 2vh;
    padding-right: 3vh;
    margin-bottom: 5px;
    border-bottom: solid 1px #eeeeee;
    overflow: hidden;
    position: relative;
  }

  
  .twitter__container .twitter__block:last-child {
    border-bottom: solid 0px;
  }
  /* アイコン画像 */
  .twitter__container .twitter__block figure {
    width: 12vh;
    height: 100%;
    padding: 0;
    margin: 0;
    float: left;
    padding-left: 2vh;
    position: absolute;
  }
    /* 正方形を用意 */
  .twitter__container .twitter__block figure img {
    border-radius: 50%;
    width: 10vh;
    height: 10vh;
  }
  /* コメントエリア */
  .twitter__container .twitter__block-text {
    margin: 0;
    position: relative;
    margin-left: 60px;
    padding-right: 10px;
    font-size: calc(20px + 0.25vh);
  }

  .twitter__container .twitter__block-text .name {
    /*position: absolute;*/
    font-weight: bold;
    font-size: calc(15px + 0.25vh);
    top: 0;
    margin: -1vw 0 0 4vh;
    max-height: 35px;
  }

  .twitter__container .twitter__block-text .name .name_reply {
    color: #8a9aa4;
    margin-left: 10px;
    font-size: calc(12px + 0.25vh);
  }

  .twitter__container .twitter__block-text .date {
    position: absolute;
    top: 0;
    right: 20px;
    text-align: right;
    color: #8a9aa4;
    font-size: calc(12px + 0.25vh);
  }
  .twitter__container .twitter__block-text .date_str {
    margin: 0;
    color: #8a9aa4;
    font-size: 80%;
    margin-bottom: 1vh;
  }
  /* 本文 */
  .twitter__container .twitter__block-text .text {
    /*position: relative;*/
    margin: 0;
    font-size: calc(15px + 0.25vh);
    line-height: 1.2em;
    margin-bottom: 1vh;
    margin-left: 4vh;
  }
  /* 画像を貼る場合 */
  .twitter__container .twitter__block-text .text .in-pict img {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    margin: 5px 0;
    width: 80%;
    /*height: 200px;*/
    max-height: 50vh;
    max-width: 90vw;
    object-fit: cover;
    float: right;
    margin-right: 10vh;
    margin-bottom: 3vh;
  }

  /* 埋め込みアイコン */
  .twitter__container .twitter__icon br{
    display: none;
  }

  .twitter__container .twitter__icon span {
    font-size: calc(12px + 0.25vh);
    display: block;
    margin-top: 0px;    
  }
  .twitter__container .twitter__icon .twitter-heart {
    width: 2.5vh;
    height: 2.5vh;
    display: block;
    /*padding-left: 20px;*/
    margin-right: 10vh;
    background: url("https://cdn.glitch.com/e1c0d2f2-58d3-4eae-9efc-d7cc024237e1%2Ffav.svg?v=1581738047956") left no-repeat;
    width: 15%;
    float: right;
    color: #8a9aa4;
    font-size: calc(17px + 0.25vh);    
  }

  .twitter__container .twitter__icon .twitter-loop {
    width: 2.5vh;
    height: 2.5vh;
    display: block;
    margin-right: 5vh;
    /*padding-left: 20px;*/
    background: url("https://cdn.glitch.com/e1c0d2f2-58d3-4eae-9efc-d7cc024237e1%2Frt.svg?v=1581738050057") left no-repeat;
    width: 15%;
    float: right;
    color: #8a9aa4;
    font-size: calc(17px + 0.25vh);
  }

  .twitter__container .twitter__icon .twitter-bubble {
    width: 2.5vh;
    height: 2.5vh;
    display: block;
    /*margin-left: 10px;*/
    /*padding-left: 20px;*/
    margin-right: 5vh;
    background: url("https://cdn.glitch.com/e1c0d2f2-58d3-4eae-9efc-d7cc024237e1%2Freply.svg?v=1581738049647") left no-repeat;
    width: 15%;
    float: right;
    color: #8a9aa4;
    font-size: calc(17px + 0.25vh);
  }

  .twitter__container .twitter__icon .twitter-file {
    display: block;
    width: 2.5vh;
    height: 2.5vh;
    /* display: none; */
    /* margin-right: 10vw; */
    margin-right: -60vh;
    background: url("https://cdn.glitch.com/7b4129b7-87aa-4542-9c2a-57759a4debf2%2Fdelete.svg?v=1591809184367") left no-repeat;
    float: right;
    color: #8a9aa4;
  }

  .twitter__container .twitter__icon .twitter-check {
    display: none;
    /*width: 14px;*/
    width: 3vw;
    height: 3vh;
    /*display: block;*/
    margin-right: 10vw;
    /*padding-right: 20px;*/
    background: url("https://cdn.glitch.com/e1c0d2f2-58d3-4eae-9efc-d7cc024237e1%2Fcheck.svg?v=1581738047611") left no-repeat;
    float: right;
    color: #8a9aa4;
  }

  .submit_form {
      /*
      padding: 0;
      margin: 20px auto;
      border: solid 1px #87cefa;
      */
      margin: 0 auto;
      /*max-width: 400px;*/
      text-align: center;
  }

  .class_input_text {
      margin: 10px auto;
      width: 80%;
  }
  
  /* プロフィール画像 */
  #profile_pic {
    background-color: #fff3b8;
    background-repeat: no-repeat;
    height: 25vh;
  }
  #profile_pic img {
    width: 100%;
    height: 100%;
  }
  
  
  
  
  /* プロフィール部分 */
  #profile_data {
    max-height: 30vh;
  }
  #profile_data figure {
    width: 16vh;
    height: 100%;
    padding: 0;
    margin: 0;
    float: left;
    padding-left: 2vh;
    padding-top: 1vh;
    position: absolute;
  }
  #profile_data figure img {
    border-radius: 50%;
    width: 15vh;
    height: 15vh;
  }
  #profile_text {
    margin: 0;
    position: relative;
    margin-left: 16vh;
    padding-right: 10px;
    font-size: calc(20px + 0.25vh);
  }
  #profile_text #profile_name {
    /*position: absolute;*/
    font-weight: bold;
    font-size: calc(20px + 0.25vh);
    top: 0;
    margin: 1.5vh 0 1vh 2vh;
    max-height: 35px;
  }
  #profile_text #profile_name #profile_id {
    color: #8a9aa4;
    margin-left: 10px;
    font-size: calc(17px + 0.25vh);
  }
  #ref_user_profile {
    margin: 0;
    font-size: calc(15px + 0.25vh);
    line-height: 1.2em;
    margin-bottom: 0vh;
    margin-left: 0vh;
  }
  #follow_num {
    font-size: calc(15px + 0.25vh);
    color: #8a9aa4;
    margin-top: 100px;
    bottom: 0;
  }
  #follower_num {
    font-size: calc(15px + 0.25vh);
    color: #8a9aa4;
    margin-top: 100px;
    padding-left: 20px;
    bottom: 0;
  }
  
  

  /* モーダルウィンドウ関連 */
  .modal{
      display: none;
      height: 100vh;
      position: fixed;
      top: 0;
      width: 100%;
  }
  .modal__bg{
      background: rgba(0,0,0,0);
      height: 100vh;
      position: absolute;
      width: 100%;
  }
  .modal__content{
      background: #fff;
      text-align: center;
      max-width: 380px;
      left: 50%;
      padding: 20px;
      position: absolute;
      top: 90%;
      transform: translate(-50%,-50%);
      width: 60%;
  }

  /* モーダルウィンドウ(空のモーダル)関連 */
  .modal_empty {
      display: none;
      height: 100vh;
      position: fixed;
      top: 0;
      width: 100%;
  }
  .modal__bg_empty {
      background: rgba(0,0,0,0);
      height: 100vh;
      position: absolute;
      width: 100%;
  }
  .modal__content_empty {
      background: #fff;
      text-align: center;
      max-width: 380px;
      left: 50%;
      padding: 20px;
      position: absolute;
      top: 90%;
      transform: translate(-50%,-50%);
      width: 60%;
  }  

  /* モーダルウィンドウ(投稿フォーム)関連 */
  .modal_post {
      display: none;
      height: 100vh;
      position: fixed;
      top: 0;
      width: 100%;
      font-size: calc(17px + 0.25vh);
  }
  .modal__bg_post {
      background: rgba(0,0,0,0);
      height: 100vh;
      position: absolute;
      width: 100%;
  }
  .modal__content_post {
      background: #ffffd0;
      text-align: center;
      left: 50%;
      padding: 20px;
      position: absolute;
      top: 90%;
      transform: translate(-50%,-50%);
      width: 100%;
      max-width: 560px;
  }
  
  /* モーダルウィンドウ(写真の拡大表示用モーダル)関連 */
  .modal_pic {
      display: none;
      position: fixed;
      top: 50%;
      z-index: 9;
      width: 80vw;
      height: 90vh;
  }
  .modal__bg_pic {
      background: rgba(0,0,0,0);
      height: 100vh;
      position: absolute;
      /*width: 100%;*/
  }
  .modal__content_pic {
      background: #fff;
      text-align: center;
      left: 63%;
      padding: 5px;
      position: absolute;
      /*top: 20vh;*/
      transform: translate(-50%,-50%);
      /*width: 100%;*/
      /*height: calc( 1.3em * 3 );*/
  }
  .modal__content_pic img {
    max-width: 80vw;
    max-height: 90vh;
  }

  /* モーダルウィンドウ(フォローフォーム)関連 */
  .modal_follow {
      display: none;
      height: 100vh;
      position: fixed;
      top: 0;
      width: 100%;
      font-size: calc(17px + 0.25vh);
  }
  .modal__bg_follow {
      background: rgba(0,0,0,0);
      height: 100vh;
      position: absolute;
      width: 100%;
  }
  .modal__content_follow {
      background: #ffffd0;
      text-align: center;
      left: 50%;
      padding: 20px;
      position: absolute;
      top: 90%;
      transform: translate(-50%,-50%);
      width: 100%;
      max-width: 560px;
  }

  /* モーダルウィンドウ(アイコン投稿フォーム)関連 */
  .modal_icon {
      display: none;
      height: 100vh;
      position: fixed;
      top: 0;
      width: 100%;
      font-size: calc(17px + 0.25vh);
  }
  .modal__bg_icon {
      background: rgba(0,0,0,0);
      height: 100vh;
      position: absolute;
      width: 100%;
  }
  .modal__content_icon {
      background: #ffffd0;
      text-align: center;
      left: 50%;
      padding: 20px;
      position: absolute;
      top: 90%;
      transform: translate(-50%,-50%);
      width: 100%;
      max-width: 560px;
  }
    
  /* モーダルウィンドウ(ヘッダー投稿フォーム)関連 */
  .modal_header {
      display: none;
      height: 100vh;
      position: fixed;
      top: 0;
      width: 100%;
      font-size: calc(17px + 0.25vh);
  }
  .modal__bg_header {
      background: rgba(0,0,0,0);
      height: 100vh;
      position: absolute;
      width: 100%;
  }
  .modal__content_header {
      background: #ffffd0;
      text-align: center;
      left: 50%;
      padding: 20px;
      position: absolute;
      top: 90%;
      transform: translate(-50%,-50%);
      width: 100%;
      max-width: 560px;
  }
    
  /* モーダルウィンドウ(プロフィール変更)関連 */
  .modal_profile {
      display: none;
      height: 100vh;
      position: fixed;
      top: 0;
      width: 100%;
      font-size: calc(17px + 0.25vh);
  }
  .modal__bg_profile {
      background: rgba(0,0,0,0);
      height: 100vh;
      position: absolute;
      width: 100%;
  }
  .modal__content_profile {
      background: #ffffd0;
      text-align: center;
      left: 50%;
      padding: 20px;
      position: absolute;
      top: 90%;
      transform: translate(-50%,-50%);
      width: 100%;
      max-width: 560px;
  }
  
  /* モーダルウィンドウ(ユーザ名変更)関連 */
  .modal_user_name {
      display: none;
      height: 100vh;
      position: fixed;
      top: 0;
      width: 100%;
      font-size: calc(17px + 0.25vh);
  }
  .modal__bg_user_name {
      background: rgba(0,0,0,0);
      height: 100vh;
      position: absolute;
      width: 100%;
  }
  .modal__content_user_name {
      background: #ffffd0;
      text-align: center;
      left: 50%;
      padding: 20px;
      position: absolute;
      top: 90%;
      transform: translate(-50%,-50%);
      width: 100%;
      max-width: 560px;
  }

  /* モーダルウィンドウ(パスワード変更)関連 */
  .modal_pw {
      display: none;
      height: 100vh;
      position: fixed;
      top: 0;
      width: 100%;
      font-size: calc(17px + 0.25vh);
  }
  .modal__bg_pw {
      background: rgba(0,0,0,0);
      height: 100vh;
      position: absolute;
      width: 100%;
  }
  .modal__content_pw {
      background: #ffffd0;
      text-align: center;
      left: 50%;
      padding: 20px;
      position: absolute;
      top: 90%;
      transform: translate(-50%,-50%);
      width: 100%;
      max-width: 560px;
  }
  
  /* モーダルウィンドウ(ログアウト確認画面)関連 */
  .modal_logout {
      display: none;
      height: 100vh;
      position: fixed;
      top: 0;
      width: 100%;
      font-size: calc(17px + 0.25vh);
  }
  .modal__bg_logout {
      background: rgba(0,0,0,0);
      height: 100vh;
      position: absolute;
      width: 100%;
  }
  .modal__content_logout {
      background: #ffffd0;
      text-align: center;
      left: 50%;
      padding: 20px;
      position: absolute;
      top: 90%;
      transform: translate(-50%,-50%);
      width: 100%;
      max-width: 560px;
  }

  /* モーダルウィンドウ(login.html)関連 */
  .modal_login{
      display: none;
      height: 100vh;
      position: fixed;
      top: 0;
      width: 100%;
      font-size: calc(17px + 0.25vh);
  }
  .modal__bg_login{
      background: rgba(0,0,0,0);
      height: 100vh;
      position: absolute;
      width: 100%;
  }
  .modal__content_login{
      background: #ffffd0;
      text-align: center;
      left: 50%;
      padding: 40px;
      position: absolute;
      top: 30%;
      transform: translate(-50%,-50%);
      width: 100%;
      max-width: 560px;
  }
}